services:
  frontendfreddie:
    image: madnificent/frontend-administration:0.13.1
    links:
      - identifier:backend
  frontendwebshop:
    image: madnificent/frontend-shop:0.26.1
    links:
      - identifier:backend
  identifier:
    image: semtech/mu-identifier:1.11.0
    links:
      - dispatcher:dispatcher
    labels:
      - "logging=true"
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.2
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
  database:
    image: semtech/sparql-parser:feature-improve-float-writing
    volumes:
      - ./config/cl-authorization:/config
      - ./data/cl-authorization:/data
    labels:
      - "logging=true"
  triplestore:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
    labels:
      - "logging=true"
  resource:
    image: semtech/mu-cl-resources:1.26.0
    volumes:
      - ./config/resources:/config
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
      MU_DEFAULT_PAGE_SIZE: "50"
    labels:
      - "logging=true"
  cache:
    image: semtech/mu-cache:2.0.2
    links:
      - resource:backend
    environment:
      LOG_CACHE_KEYS: "on"
      LOG_CLEAR_KEYS: "on"
    labels:
      - "logging=true"
  delta-notifier:
    image: semtech/mu-delta-notifier:0.3.1
    volumes:
      - ./config/delta:/config
    labels:
      - "logging=true"
  migrations:
    image: semtech/mu-migrations-service:0.9.0
    links:
      - triplestore:database
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
  # payments:
  #   image: madnificent/mu-mollie-payment-service
  #   links:
  #     - database:database
  #   environment:
  #     MOLLIE_API_KEY: "your mollie api key"
  #     MOLLIE_REDIRECT_URL: "http://frontend/paymentRedirect"
  #     MOLLIE_BASE_WEBHOOK_URL: "http://backend/paymentWebhook"
  #   labels:
  #     - "logging=true"
  file:
    image: semtech/mu-file-service:3.4.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
  basketservice:
    image: madnificent/basket:0.8.1
    labels:
      - "logging=true"
  imageservice:
    image: madnificent/mu-image:feature-scopes
    environment:
      DEFAULT_MU_AUTH_SCOPE: "http://services.semantic.works/image-service"
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
  product-availability-distribution:
    image: madnificent/product-availability-distribution
    environment:
      DEFAULT_MU_AUTH_SCOPE: "http://services.semantic.works/product-availability-distribution"
  export-orders:
    image: madnificent/export-orders:0.5.1
    environment:
      ALLOW_MU_AUTH_SUDO: "true"
    labels:
      - "logging=true"
  authentication:
    image: madnificent/mu-node-authentication:0.2.0
    labels:
      - "logging=true"
    restart: always
  project-scripts:
    image: semtech/mu-scripts:1.0.0
    volumes:
      - ./scripts/project-scripts/:/app/scripts/
    restart: "no"
    labels:
      - "logging=true"
  search:
    image: semtech/mu-search:feature-lazy-and-ignored-allowed-groups
    volumes:
      - ./config/search:/config
    labels:
      - "logging=true"
  elasticsearch:
    image: semtech/mu-search-elastic-backend:1.0.0
    volumes:
      - ./data/elasticsearch/:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - cluster.max_shards_per_node=5000
      - cluster.routing.allocation.total_shards_per_node=5000
    labels:
      - "logging=true"
  import-from-lfw-api:
    image: madnificent/lfw-import:0.2.1
    labels:
      - logging=true
    environment:
      DEFAULT_MU_AUTH_SCOPE: "http://services.veeakker.be/lfw-import"
      ALLOW_MU_AUTH_SUDO: "true"
    volumes:
      - "./data/files/:/share"
      - "./data/lfw-import/page-cache/:/page-cache/"
